
<!doctype html> 
<html lang='en'> 
    <head> 
    <title>
    Home
    </title>
</head>

<body>

    <h1>ToDo </h1>
    <form method="POST" action="/addtask">
        <label>ToDo list</label><br />
        <input type="text" name="text">
        <input type="submit"><br /><br>
        {{if .Flash}}
    <div class="flash">
    {{.Flash}}
    </div>
    {{end}}
       <p>your task</p>
    </form>
    <ol>
    {{range .Tasks}}
    <li>{{.Title}}</li>
<form method="POST" action="/deletetask">
<input type="hidden" name="ID" value={{.ID}}> 
        <input type="submit" value="Remove"/>
        </form>
        <form method="POST" action="/update">
        <input type="hidden" name="ID" value={{.ID}}>
        <input type="submit" value="Update"/>
        <input type="text" name="update">
        </form>
        {{end}}
    </ol>
    
    </body>
</html> 
